.chat {
    padding: 10px;
    background-color: #333;
    border-radius: 20px;
    position: relative;
    border: 1px solid #555;
}

.main-text-1 {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
}

.main-text-2 {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.chat-input-text-area {
    width: 100%;
    font-size: 16px;
    outline: none;
    background-color: #333;
    resize: none;
    border: none;
    max-height: 300px;
    overflow: hidden;
    color: white;
    font-family: 'monospace';
    white-space: pre;
    tab-size: 4;
}

.chat-input-text-area::placeholder {
    color: white;
}

.options-btn, .send-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 18px;
}

.send-btn {
    float: right;
}

.options-btn:hover, .send-btn:hover {
    background-color: #555;
}

@media (max-width: 480px) {
    .options-btn, .send-btn {
        width: 28px;
        height: 28px;
        font-size: 16px;
    }
    
    .chat-input-text-area {
        font-size: 14px;
    }
}
