.enter-btn-wrapper {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.enter-btn {
    width: 100px;
    padding: 12px;
    font-size: 18px;
    background-color: black;
    border: none;
    color: white;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.enter-btn:hover {
    background-color: rgb(24, 23, 23);
}